<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>用户组名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for userGroup in pagination %}
        <tr>
            <th scope="row">{{ userGroup.id }}</th>
            <td>{{ userGroup.groupName }}</td>
            <td>
                {% if hasPermission('USER_GROUP_INFO') %}
                <a href="{{ path(constant_route("USER_GROUP_INFO"), {id: userGroup.id} ) }}" class="btn btn-default btn-xs role-permission"><i class="fa fa-search"></i> 详细</a>
                {% endif %}
                {% if hasPermission('USER_GROUP_EDIT') %}
                <a href="{{ path(constant_route('USER_GROUP_EDIT'), {id : userGroup.id}) }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> 编辑</a>
                {% endif %}
                {% if hasPermission('USER_GROUP_DELETE') %}
                <button type="button" class="btn btn-danger btn-xs table-confirm-change-status" data-url="{{ path(constant_route('USER_GROUP_DELETE'), {'id' : userGroup.id}) }}"><i class="fa fa-trash"></i> 删除</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}