<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>{{ constant('App\\Lib\\Constant\\Tool::PROJECT_NAME') }}</title>

    <!-- Styles -->
    <link href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/icomoon/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/uniform/css/default.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/plugins/switchery/switchery.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/plugins/nvd3/nv.d3.min.css') }}" rel="stylesheet">
    <!-- table -->
    <link href="{{ asset('assets/plugins/datatables/css/jquery.datatables.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/plugins/datatables/css/jquery.datatables_themeroller.css') }}" rel="stylesheet" type="text/css">
    <!-- Theme Styles -->
    <link href="{{ asset('assets/css/ecaps.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/plugins/jquery/jquery-3.1.0.min.js') }}"></script>

    {% block css %}{% endblock %}
</head>
<body>

<!-- Page Container -->
<div class="page-container">
    <!-- Page Sidebar -->
    {% include './admin/base/left.html.twig' %}
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Header -->
        {% include './admin/base/header.html.twig' %}
        <!-- Page Inner -->
        <div class="page-inner">
            {% block content %}{% endblock %}
        </div>
    </div><!-- /Page Content -->
</div><!-- /Page Container -->

<input type="hidden" name="csrf-token" value="{{ csrf_token(constant('App\\Lib\\Constant\\Tool::CSRF_NAME')) }}"/>

<!-- javascript -->
<script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('assets/plugins/uniform/js/jquery.uniform.standalone.js') }}"></script>
<script src="{{ asset('assets/plugins/switchery/switchery.min.js') }}"></script>
<script src="{{ asset('assets/plugins/d3/d3.min.js') }}"></script>
<script src="{{ asset('assets/plugins/nvd3/nv.d3.min.js') }}"></script>
<script src="{{ asset('assets/plugins/flot/jquery.flot.min.js') }}"></script>
<script src="{{ asset('assets/plugins/flot/jquery.flot.time.min.js') }}"></script>
<script src="{{ asset('assets/plugins/flot/jquery.flot.symbol.min.js') }}"></script>
<script src="{{ asset('assets/plugins/flot/jquery.flot.resize.min.js') }}"></script>
<script src="{{ asset('assets/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
<script src="{{ asset('assets/plugins/flot/jquery.flot.pie.min.js') }}"></script>
<script src="{{ asset('assets/js/ecaps.js') }}"></script>
<script src="{{ asset('assets/plugins/datatables/js/jquery.datatables.min.js') }}"></script>

<!-- layer插件 -->
<script src="{{ asset('assets/js/layer/layer.js') }}"></script>
<script src="{{ asset('assets/js/laydate/laydate.js') }}"></script>

<!-- ali-oss -->
{{ encore_entry_script_tags('app') }}

<!-- 工具函数 -->
<script src="{{ asset('assets/js/tool.js') }}"></script>

<!-- 画面逻辑 -->
<script src="{{ asset('assets/js/logic/extend.js') }}"></script>
<script src="{{ asset('assets/js/logic/page.js') }}"></script>
<script src="{{ asset('assets/js/logic/logic.js') }}"></script>
<script src="{{ asset('assets/js/logic/action.js') }}"></script>

<!-- js routing -->
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% block js %}{% endblock %}
</body>
</html>